.input-account 
{
    color:rgba(0,0,0,.8);
    margin: 0 auto;
    padding:0.5em;
    font-size:1em;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: 0.1s ease-in-out;
 }

 .input-account:focus
 {
     outline: none;
     border: 2px solid #389FE3;
 
 }

 .user-info-name {
    font-size:18px;
    font-weight: 400;
 }