.container {
	width: 90%;
    display:flex; 
    justify-content:center;
}

#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	padding-bottom: 0;
	margin-bottom: var(--cardMargin);
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 2;
    z-index:2;
}
#card3 {
	--index: 3;
    z-index:4;
}

.card {
	position: sticky;
    top: 0;
    background-color: #000034;
	padding-top: calc(var(--index) * var(--cardTopPadding));
}
